body{
	background-color:white;
}

#bannertext{
	font-size:2em;
	position:left;
	color:darkgreen;
	padding-top:2em;
	float:left;
	margin-left:1em;
	margin-bottom:0em;
}

#banner{
	z-index: 2;
	position:fixed;
	background-color: lightgreen;
	width: 100%;
	height: 8em;
	margin-top:-1em;
	margin-left:-.5em;
	margin-bottom:0em;
	border-style: solid;
	border-width: 5px;
	border-color: darkgreen;
}

#bannertext{
	font-size: .75em;
	text-align:center;
	color:darkgreen;
}

#left{
	z-index: 1;
	position: relative;
	margin-left:-.5em;
	width: 10em;
	height: 55em;
	background-color: darkgreen;
	border-style: solid;
	border-width: 5px;
	border-color: darkgreen;
}

#select{
	z-index:3;
	position:relative;
	top:8em;
	font-size:1em;
	text-align:left;
	color:green;
	width: 5em;
	margin-left:.5em;
	
}

.selectmenus{
	margin-top:1em;
}

select{
width: 180%;

}


